@import "tailwindcss";

@layer components{
  .btn-remove{
    @apply bg-blue-700 rounded-xl p-1 text-white cursor-pointer text-sm
  }
  .btn-edit{
    @apply bg-green-700 rounded-xl p-1 text-white cursor-pointer text-sm
  }
  .edit{
    @apply bg-gray-200 p-0.5 w-5/6 text-sm
  }
}