@import "tailwindcss";

@layer components{
  .btn-remove{
    @apply bg-blue-700 rounded-xl p-1 text-white cursor-pointer text-sm
  }
  .btn-done{
    @apply bg-green-700 rounded-xl p-1 text-white cursor-pointer text-sm
  }
}